# This file is used for storing private and user specific environment variables, like keys or system paths.
# The variables declared in .env are loaded in train.py automatically
# Hydra allows you to reference variables in .yaml configs with special syntax: ${oc.env:MY_VAR}

HYDRA_FULL_ERROR=1

# Path to the directory where checkpoints and logs will be saved
SAVEDIR=""

# Path to the directory where checkpoints and logs will be saved when debugging (e.g., with debug=step in command)
DEBUG_SAVEDIR=""

# Path to the directory where kitti raw data is located
KITTI_RAW_ROOT_DIR=""

# Path to the directory where GT from depth completion data is located
GT_DEPTH_ROOT_DIR=""

# One of the files under the folder `/data_splits`
SPLIT_FILE="./data_splits/eigen_train_files.txt"
VAL_SPLIT_FILE="./data_splits/filtered_eigen_val_files.txt"

# Path to the directories contained to the pre-processed data (see "Data-preparation" in the repo's README
SPARSE_DEPTH_ROOT_DIR=""
SPLIT_DATA=""
